<!DOCTYPE html>
<html>
    <head>
        <title>Checkerboard Assignment</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/checker.css') }}">
    </head>
    <body>
        <table>
        {% for i in range(4): %}
            <tr>
                {% for j in range(8): %}
                <td class='color1'></td>
                <td class='color2'></td>
                {% endfor %}
                
            </tr>
            <tr>
                {% for j in range(8): %}
                <td class='color2'></td>
                <td class='color1'></td>
                {% endfor %}
            
        {% endfor %}

        </table>

    </body>
</html>
<!-- <head> -->
    <!-- <style>
    body{
        background-color: LightBlue;
    }
    #box1{
        color: blue;
        margin-left:40px;
        height: 30px;
        width: 40px;
/* 
    #box2{
        color: blue;
        height: 40px;
        width: 40px;

    #box3{
        color: blue;
        height: 40px;
        width: 40px;
    }

    }
     */
    }
    </style>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
        
    } -->
    